.chatPage {
  &.user_chats {
    position: fixed;
    height: 600px;
    width: 400px;
    margin: auto;
    right: 1rem;
    bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 10px #ddd;
    background-image: url(https://tars-file-upload.s3.amazonaws.com/B1WntK/ed90e025dd401f6f45ddc467ec03c833--cartoon-people-with-gold-coin-stack-dollar-wallet82574-3923.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    z-index: 999999;
  }

  .activeUsers {
    position: absolute;
    width: 30rem;
    top: 3rem;
    left: 3rem;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem 2%;
    z-index: 10;

    #users {
      font-size: 14px;
    }

    h2 {
      font-size: 18px;
    }

    ul,
    ul li {
      margin: 0;
      padding: 0;
    }

    ul {
      height: 40rem;
      overflow: scroll;

      li {
        i {
          color: #5fdba7;
          font-size: 1rem;
          margin-right: 0.8rem;
        }
      }
    }
  }

  .messages_wrap {
    position: fixed;
    height: 600px;
    width: 400px;

    h1 {
      padding: 2rem 1rem;
      font-size: 2.5rem;
      line-height: 3rem;

      a {
        font-size: 2rem;
        margin-right: 1rem;
        position: relative;
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding-bottom: 8rem;

      #list {
        flex-grow: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 80px;

        ul {
          padding-bottom: 1rem;
        }

        li:nth-child(odd) .msg {
          background: rgb(138, 212, 116);
        }

        li {
          &.user {
            text-align: right;

            .msg {
              border-top-left-radius: 1.3em;
              border-top-right-radius: 0;
              border-bottom-left-radius: 1.3em;
              border-bottom-right-radius: 1.3em;
            }
          }

          &.agent {
            text-align: left;

            .msg {
              border-top-left-radius: 0;
              border-top-right-radius: 1.3em;
              border-bottom-left-radius: 1.3em;
              border-bottom-right-radius: 1.3em;
            }
          }

          .msg {
            display: inline-block;
            background: rgb(138, 212, 116);
            border-radius: 3px;
            box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
            padding: 1.5rem 1.5%;
            margin: 0.5rem 2.5%;
            color: #333;

            h4 {
              font-size: 1.5rem;
              line-height: 1.8rem;
              margin-bottom: 0.5rem;
              font-weight: 800;
            }
            a {
              color: #3597de;
            }

            p {
              font-size: 1.4rem;
              line-height: 1.8rem;
              margin: 0;
            }
          }
        }

        .createdDate {
          display: block;
          width: 100%;
          padding: 0.5rem;
          font-size: 1.3rem;
          margin: 0 auto 0;
          color: #fff;
          font-weight: bold;
        }
      }
    }

    .newMsgForm {
      width: calc(400px);
      bottom: 1rem;
      padding: 0 1rem;
    }
  }

  .newMsgForm {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;

    .wrap {
      display: inline-block;
      width: 100%;
      position: relative;
      padding: 0.2rem;

      .form_wrap {
        padding: 0;

        .form_row {
          margin: 0;

          .form_item .form_input {
            input {
              background: $white;
              border-radius: 50px;
              box-shadow: 1px 1px 4px grey;
              padding-left: 20px;
            }

            .bottom_border::before {
              display: none;
            }
          }
        }
      }

      .btnWrap {
        position: absolute;
        top: 50%;
        right: 1rem;
        z-index: 10;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        .btn {
          display: inline-block;
          border: none;
          cursor: pointer;
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          background: #3597de;
          color: $white;
          font-size: 1.5rem;
          line-height: normal;

          &:hover {
            background: $black;
          }

          &:first-child {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &.user_agent {
    height: auto;
    width: 100%;
    margin: auto;
    right: 1rem;
    bottom: 2rem;
    z-index: 999999;
    display: flex;

    .activeUsers {
      position: relative;
      top: 0;
      left: 0;
      margin: 2rem;
    }

    .messages_wrap {
      position: relative;
      top: 0;
      margin: 2rem;
      border-radius: 3px;
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
      padding: 2rem 2%;
      width: 100%;
    }
  }
}

.chatBubble {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100px;
  bottom: 0rem;
  right: 0rem;
  cursor: pointer;

  span {
    text-align: right;
    font-size: 16px;
    color: white;
    position: absolute;
    right: 1rem;
    background: #2103038c;
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
      color: rgb(224, 224, 210);
    }
  }

  img {
    width: 60px;
    height: 60px;
    float: right;
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    &:hover {
      width: 80px;
      height: 80px;
    }
  }
}

span.close {
  font-size: 3rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;

  i:hover {
    color: rgb(148, 95, 95);
  }
}

.chat_title {
  display: inline;
  padding-left: 1rem;
  padding-top: 1rem;
}

.type_icon i {
  font-size: 3rem;
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .activeUsers {
    display: none;
  }

  .chatPage {
    padding-left: 10px;
    padding-right: 10px;

    .messages_wrap {
      padding-left: 0;

      h1 {
        padding-top: 0;
      }

      .newMsgForm {
        padding-left: 0;
      }

      .newMsgForm {
        width: 100%;
        left: 0;
        right: 0;
        padding: 0 10px;
      }
    }
  }
}
