@import "./config";
@import "./base/normalize";
@import "./base/default";
@import "./base/forms";
@import "./base/css_grid";
@import "./pages/join";
@import "./pages/chat";

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
